body
  margin: 0

.grid
  display: grid
  grid-template-columns: repeat(5,1fr)
  gap: 1vw
  margin: 10px 1vw

.box
  $l: 5rem
  width: $l
  height: $l
  line-height: $l
  border-radius: 20%
  h1
    font-size: large
    text-align: center


.green
  background: #008a07

.purple
  background: #960096

.orange
  background: #b15500
