body
  margin: 0
  display: flex
  place-items: center
  min-width: 100vw
  min-height: 100vh

.box
  min-width: 3rem
  min-height: 3rem
  line-height: 3rem
  background-color: #973e3e
  display: block